{% extends 'base.html' %}
{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">Add Asset History</h1>
        <form method="post">
            {% csrf_token %}
            <div class="field">
                <label class="label">Asset</label>
                <div class="control">{{ form.asset }}</div>
            </div>
            <div class="field">
                <label class="label">From Employee</label>
                <div class="control">{{ form.from_employee }}</div>
            </div>
            <div class="field">
                <label class="label">To Employee</label>
                <div class="control">{{ form.to_employee }}</div>
            </div>
            <div class="field">
                <label class="label">Transfer Date</label>
                <div class="control">{{ form.transfer_date }}</div>
            </div>
            <div class="field">
                <label class="label">Remarks</label>
                <div class="control">{{ form.remarks }}</div>
            </div>
            <div class="control">
                <button type="submit" class="button is-success">Save</button>
                <a href="{% url 'history_list' %}" class="button is-light">Cancel</a>
            </div>
        </form>
    </div>
</section>
{% endblock %}
