{% extends 'base.html' %}

{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title">Delete Asset</h1>
    <p>Are you sure you want to delete the asset <strong>{{ asset.name }}</strong>?</p>
    <form method="post">
      {% csrf_token %}
      <div class="buttons mt-4">
        <button type="submit" class="button is-danger">Yes, Delete</button>
        <a href="{% url 'asset_list' %}" class="button is-light">Cancel</a>
      </div>
    </form>
  </div>
</section>
{% endblock %}
